<a href="https://colab.research.google.com/github/analyticsariel/projects/blob/master/How_to_Read_Tables_from_PDF_Files_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How to Read Tables from PDF Files in Python
NAR Housing Statistics Data

## Overview
| Detail Tag            | Information                                                                                        |
|-----------------------|----------------------------------------------------------------------------------------------------|
| Originally Created By | Ariel Herrera arielherrera@analyticsariel.com |
| External References   | API |
| Input Datasets        | Source name |
| Output Datasets       | Source name |
| Input Data Source     | Pandas DataFrame |
| Output Data Source    | Pandas DataFrame |

## History
| Date         | Developed By  | Reason                                                |
|--------------|---------------|-------------------------------------------------------|
| 21st Jul 2022 | Ariel Herrera | Create notebook. |

## Getting Started
1. Copy this notebook -> File -> Save a Copy in Drive
2. Directions

## Useful Resources
- [Google Colab Cheat Sheet](https://towardsdatascience.com/cheat-sheet-for-google-colab-63853778c093)
- [NAR Housing Statistics](https://www.nar.realtor/research-and-statistics/housing-statistics)
- [Extract Data From Tables in PDF â€” Using a Single Line in Python](https://towardsdatascience.com/scraping-table-data-from-pdf-files-using-a-single-line-in-python-8607880c750)

## <font color="blue">Install Packages</font>

In [28]:
!pip install tabula-py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tabula-py in /usr/local/lib/python3.7/dist-packages (2.4.0)
Requirement already satisfied: distro in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.7.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)

## <font color="blue">Imports</font>

In [29]:
import tabula
import warnings
import plotly.express as px
from datetime import datetime
from google.colab import drive, files, output # specific to Google Colab

warnings.filterwarnings('ignore')

## <font color="blue">Functions</font>

## <font color="blue">Locals & Constants</font>

## <font color="blue">Data</font>

### <font color="Green">NAR Existing Home Sales</font>

In [30]:
# Mean Sales Price of Existing Homes
url1 = "https://cdn.nar.realtor/sites/default/files/documents/ehs-06-2022-average-price-2022-07-21.pdf"
table = tabula.read_pdf(url1, pages=1)
table[0]

   Year/Month U.S. Mean Price
0        2020         395,600
1        2021         462,400
2         NaN             NaN
3     2020.01         352,700
4     2020.02         355,100
5     2020.03         369,200
6     2020.04         371,900
7     2020.05         367,500
8     2020.06         387,000
9     2020.07         402,300
10    2020.08         414,200
11    2020.09         415,800
12    2020.10         418,300
13    2020.11         415,300
14    2020.12         415,100
15    2021.01         408,600
16    2021.02         420,000
17    2021.03         441,700
18    2021.04         465,300
19    2021.05         475,300
20    2021.06         488,300
21    2021.07         480,800
22    2021.08         472,200
23    2021.09         462,700
24    2021.10         462,300
25    2021.11         464,600
26    2021.12         466,700
27    2022.01         458,900
28    2022.02         471,900
29    2022.03         501,400
30    2022.04         520,600
31    2022.05         532,300
32  2022.06 p         536,200

In [31]:
# normalize data
df_mean_sales_price = table[0]
df_mean_sales_price = df_mean_sales_price.iloc[3:,] # select month data
df_mean_sales_price['U.S. Mean Price'] = df_mean_sales_price.apply(lambda x: int(x['U.S. Mean Price'].replace(',', '')), axis=1)
df_mean_sales_price['Year/Month'] = df_mean_sales_price.apply(lambda x: x['Year/Month'][:7], axis=1)
df_mean_sales_price['Year/Month'] = df_mean_sales_price.apply(lambda x: datetime.strptime(x['Year/Month'], '%Y.%m'), axis=1)
df_mean_sales_price.tail(5)

   Year/Month  U.S. Mean Price
28 2022-02-01           471900
29 2022-03-01           501400
30 2022-04-01           520600
31 2022-05-01           532300
32 2022-06-01           536200

In [32]:
# uncomment below to download file
df_mean_sales_price.to_csv('output.csv', index=False)
files.download('output.csv')

In [33]:
# visualize data
fig = px.line(df_mean_sales_price, x="Year/Month", y="U.S. Mean Price", title='National Single Family Mean Price MoM')
fig.show()

### <font color="Green">NAR Pending Home Sales</font>

In [34]:
# Pending Home Sales Index (PHSI)
url2 = "https://cdn.nar.realtor/sites/default/files/documents/phs-05-2022-pending-home-sales-06-27-2022.pdf"
table = tabula.read_pdf(url2, pages=1)

WARNING:tabula.io:Got stderr: Jul 21, 2022 9:44:21 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
Jul 21, 2022 9:44:21 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-ItalicMT'
Jul 21, 2022 9:44:21 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Jul 21, 2022 9:44:22 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
Jul 21, 2022 9:44:22 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-ItalicMT'
Jul 21, 2022 9:44:22 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'

In [35]:
df_pending = table[0]
df_pending

,Unnamed: 0,Unnamed: 1,United,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,United.1,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Year,NaN,States,Northeast Midwest,South,NaN,West,States,Northeast Midwest,South,NaN,West
1,2019,NaN,105.8,92.9 99.7,124.0,NaN,93.5,*,* *,*,NaN,*
2,2020,NaN,111.1,91.9 106.0,132.5,NaN,97.9,*,* *,*,NaN,*
3,2021,NaN,115.2,95.7 108.8,138.6,NaN,100.2,*,* *,*,NaN,*
4,NaN,NaN,NaN,Seasonally Adjusted Annual Rate,NaN,NaN,NaN,NaN,Not Seasonally Adjusted,NaN,NaN,NaN
5,2021 May,NaN,115.6,98.4 108.1,138.1,NaN,101.7,135.4,131.6 132.7,153.9,NaN,112.3
6,2021 June,NaN,113.7,98.2 108.2,134.1,NaN,99.4,140.6,131.9 133.8,167.6,NaN,112.3
7,2021 July,NaN,112.1,93.7 105.3,133.3,NaN,100.1,123.9,101.5 110.8,151.8,NaN,111.4
8,2021 Aug,NaN,116.6,94.6 112.0,139.0,NaN,103.4,125.5,99.9 116.8,150.2,NaN,115.9
9,2021 Sept,NaN,115.2,91.9 110.1,138.5,NaN,102.3,105.7,75.3 98.3,124.6,NaN,107.3
10,2021 Oct,NaN,122.4,97.4 123.0,146.6,NaN,103.4,119.5,101.3 122.8,136.1,NaN,104.0
11,2021 Nov,NaN,118.8,97.2 113.8,144.0,NaN,101.5,96.9,78.6 92.6,115.7,NaN,86.2
12,2021 Dec,NaN,116.1,95.9 111.0,143.6,NaN,93.8,75.2,53.1 68.4,97.4,NaN,64.6
13,2022 Jan,NaN,109.4,84.3 106.1,133.1,NaN,95.1,83.1,58.2 75.9,105.9,NaN,74.1
14,2022 Feb,NaN,105.0,85.9 100.8,126.9,NaN,90.0,93.9,71.3 97.7,110.1,NaN,81.9
15,2022 Mar,NaN,103.3,89.3 94.5,124.9,NaN,89.8,123.4,104.9 112.7,155.6,NaN,98.4
16,2022 Apr r,NaN,99.2,75.1 100.3,118.8,NaN,85.9,117.3,93.3 121.7,139.5,NaN,96.5
17,2022 May p,NaN,99.9,86.7 98.6,119.0,NaN,81.6,119.2,117.2 124.1,134.2,NaN,92.1
18,vs. last month:,NaN,0.7%,15.4% -1.7%,0.2%,NaN,-5.0%,1.6%,25.6% 2.0%,-3.8%,NaN,-4.6%
19,vs. last year:,NaN,-13.6%,-11.9% -8.8%,-13.8%,NaN,-19.8%,-12.0%,-10.9% -6.5%,-12.8%,NaN,-18.0%

In [36]:
# read table
df_pending = table[0]

# make first row header
new_header = df_pending.iloc[0] # grab the first row for the header
df_pending = df_pending[1:] # take the data less the header row
df_pending.columns = new_header # set the header row as the df header
df_pending

,Year,NaN,States,Northeast Midwest,South,NaN,West,States,Northeast Midwest,South,NaN,West
1,2019,NaN,105.8,92.9 99.7,124.0,NaN,93.5,*,* *,*,NaN,*
2,2020,NaN,111.1,91.9 106.0,132.5,NaN,97.9,*,* *,*,NaN,*
3,2021,NaN,115.2,95.7 108.8,138.6,NaN,100.2,*,* *,*,NaN,*
4,NaN,NaN,NaN,Seasonally Adjusted Annual Rate,NaN,NaN,NaN,NaN,Not Seasonally Adjusted,NaN,NaN,NaN
5,2021 May,NaN,115.6,98.4 108.1,138.1,NaN,101.7,135.4,131.6 132.7,153.9,NaN,112.3
6,2021 June,NaN,113.7,98.2 108.2,134.1,NaN,99.4,140.6,131.9 133.8,167.6,NaN,112.3
7,2021 July,NaN,112.1,93.7 105.3,133.3,NaN,100.1,123.9,101.5 110.8,151.8,NaN,111.4
8,2021 Aug,NaN,116.6,94.6 112.0,139.0,NaN,103.4,125.5,99.9 116.8,150.2,NaN,115.9
9,2021 Sept,NaN,115.2,91.9 110.1,138.5,NaN,102.3,105.7,75.3 98.3,124.6,NaN,107.3
10,2021 Oct,NaN,122.4,97.4 123.0,146.6,NaN,103.4,119.5,101.3 122.8,136.1,NaN,104.0
11,2021 Nov,NaN,118.8,97.2 113.8,144.0,NaN,101.5,96.9,78.6 92.6,115.7,NaN,86.2
12,2021 Dec,NaN,116.1,95.9 111.0,143.6,NaN,93.8,75.2,53.1 68.4,97.4,NaN,64.6
13,2022 Jan,NaN,109.4,84.3 106.1,133.1,NaN,95.1,83.1,58.2 75.9,105.9,NaN,74.1
14,2022 Feb,NaN,105.0,85.9 100.8,126.9,NaN,90.0,93.9,71.3 97.7,110.1,NaN,81.9
15,2022 Mar,NaN,103.3,89.3 94.5,124.9,NaN,89.8,123.4,104.9 112.7,155.6,NaN,98.4
16,2022 Apr r,NaN,99.2,75.1 100.3,118.8,NaN,85.9,117.3,93.3 121.7,139.5,NaN,96.5
17,2022 May p,NaN,99.9,86.7 98.6,119.0,NaN,81.6,119.2,117.2 124.1,134.2,NaN,92.1
18,vs. last month:,NaN,0.7%,15.4% -1.7%,0.2%,NaN,-5.0%,1.6%,25.6% 2.0%,-3.8%,NaN,-4.6%
19,vs. last year:,NaN,-13.6%,-11.9% -8.8%,-13.8%,NaN,-19.8%,-12.0%,-10.9% -6.5%,-12.8%,NaN,-18.0%

In [37]:
# remove null columns
valid_cols = [c for c in list(df_pending.columns) if str(c) != 'nan']
df_pending = df_pending[valid_cols]
df_pending

,Year,States,States,Northeast Midwest,Northeast Midwest,South,South,West,West,States,States,Northeast Midwest,Northeast Midwest,South,South,West,West
1,2019,105.8,*,92.9 99.7,* *,124.0,*,93.5,*,105.8,*,92.9 99.7,* *,124.0,*,93.5,*
2,2020,111.1,*,91.9 106.0,* *,132.5,*,97.9,*,111.1,*,91.9 106.0,* *,132.5,*,97.9,*
3,2021,115.2,*,95.7 108.8,* *,138.6,*,100.2,*,115.2,*,95.7 108.8,* *,138.6,*,100.2,*
4,NaN,NaN,NaN,Seasonally Adjusted Annual Rate,Not Seasonally Adjusted,NaN,NaN,NaN,NaN,NaN,NaN,Seasonally Adjusted Annual Rate,Not Seasonally Adjusted,NaN,NaN,NaN,NaN
5,2021 May,115.6,135.4,98.4 108.1,131.6 132.7,138.1,153.9,101.7,112.3,115.6,135.4,98.4 108.1,131.6 132.7,138.1,153.9,101.7,112.3
6,2021 June,113.7,140.6,98.2 108.2,131.9 133.8,134.1,167.6,99.4,112.3,113.7,140.6,98.2 108.2,131.9 133.8,134.1,167.6,99.4,112.3
7,2021 July,112.1,123.9,93.7 105.3,101.5 110.8,133.3,151.8,100.1,111.4,112.1,123.9,93.7 105.3,101.5 110.8,133.3,151.8,100.1,111.4
8,2021 Aug,116.6,125.5,94.6 112.0,99.9 116.8,139.0,150.2,103.4,115.9,116.6,125.5,94.6 112.0,99.9 116.8,139.0,150.2,103.4,115.9
9,2021 Sept,115.2,105.7,91.9 110.1,75.3 98.3,138.5,124.6,102.3,107.3,115.2,105.7,91.9 110.1,75.3 98.3,138.5,124.6,102.3,107.3
10,2021 Oct,122.4,119.5,97.4 123.0,101.3 122.8,146.6,136.1,103.4,104.0,122.4,119.5,97.4 123.0,101.3 122.8,146.6,136.1,103.4,104.0
11,2021 Nov,118.8,96.9,97.2 113.8,78.6 92.6,144.0,115.7,101.5,86.2,118.8,96.9,97.2 113.8,78.6 92.6,144.0,115.7,101.5,86.2
12,2021 Dec,116.1,75.2,95.9 111.0,53.1 68.4,143.6,97.4,93.8,64.6,116.1,75.2,95.9 111.0,53.1 68.4,143.6,97.4,93.8,64.6
13,2022 Jan,109.4,83.1,84.3 106.1,58.2 75.9,133.1,105.9,95.1,74.1,109.4,83.1,84.3 106.1,58.2 75.9,133.1,105.9,95.1,74.1
14,2022 Feb,105.0,93.9,85.9 100.8,71.3 97.7,126.9,110.1,90.0,81.9,105.0,93.9,85.9 100.8,71.3 97.7,126.9,110.1,90.0,81.9
15,2022 Mar,103.3,123.4,89.3 94.5,104.9 112.7,124.9,155.6,89.8,98.4,103.3,123.4,89.3 94.5,104.9 112.7,124.9,155.6,89.8,98.4
16,2022 Apr r,99.2,117.3,75.1 100.3,93.3 121.7,118.8,139.5,85.9,96.5,99.2,117.3,75.1 100.3,93.3 121.7,118.8,139.5,85.9,96.5
17,2022 May p,99.9,119.2,86.7 98.6,117.2 124.1,119.0,134.2,81.6,92.1,99.9,119.2,86.7 98.6,117.2 124.1,119.0,134.2,81.6,92.1
18,vs. last month:,0.7%,1.6%,15.4% -1.7%,25.6% 2.0%,0.2%,-3.8%,-5.0%,-4.6%,0.7%,1.6%,15.4% -1.7%,25.6% 2.0%,0.2%,-3.8%,-5.0%,-4.6%
19,vs. last year:,-13.6%,-12.0%,-11.9% -8.8%,-10.9% -6.5%,-13.8%,-12.8%,-19.8%,-18.0%,-13.6%,-12.0%,-11.9% -8.8%,-10.9% -6.5%,-13.8%,-12.8%,-19.8%,-18.0%

#### Get First Table - Year Stats

In [38]:
# select relevant rows
df1 = df_pending.iloc[:3,:] # first 3 rows
df1

,Year,States,States,Northeast Midwest,Northeast Midwest,South,South,West,West,States,States,Northeast Midwest,Northeast Midwest,South,South,West,West
1,2019,105.8,*,92.9 99.7,* *,124.0,*,93.5,*,105.8,*,92.9 99.7,* *,124.0,*,93.5,*
2,2020,111.1,*,91.9 106.0,* *,132.5,*,97.9,*,111.1,*,91.9 106.0,* *,132.5,*,97.9,*
3,2021,115.2,*,95.7 108.8,* *,138.6,*,100.2,*,115.2,*,95.7 108.8,* *,138.6,*,100.2,*

In [39]:
# rename columns
new_col_list = []
for c in df1.columns:
  if c in new_col_list:
    col_name = c + '_x'
    new_col_list.append(col_name)
  else:
    new_col_list.append(c)

# set new column names
df1.columns = new_col_list
df1

,Year,States,States_x,Northeast Midwest,Northeast Midwest_x,South,South_x,West,West_x,States_x,States_x,Northeast Midwest_x,Northeast Midwest_x,South_x,South_x,West_x,West_x
1,2019,105.8,*,92.9 99.7,* *,124.0,*,93.5,*,105.8,*,92.9 99.7,* *,124.0,*,93.5,*
2,2020,111.1,*,91.9 106.0,* *,132.5,*,97.9,*,111.1,*,91.9 106.0,* *,132.5,*,97.9,*
3,2021,115.2,*,95.7 108.8,* *,138.6,*,100.2,*,115.2,*,95.7 108.8,* *,138.6,*,100.2,*

In [40]:
# drop columns with _x
main_cols = [c for c in df1.columns if '_x' not in c]
df1 = df1[main_cols]
df1

   Year States Northeast Midwest  South   West
1  2019  105.8         92.9 99.7  124.0   93.5
2  2020  111.1        91.9 106.0  132.5   97.9
3  2021  115.2        95.7 108.8  138.6  100.2

In [41]:
# issue with combined column
df1['Northeast Midwest']

1     92.9 99.7
2    91.9 106.0
3    95.7 108.8
Name: Northeast Midwest, dtype: object

In [42]:
# separte cols and rename
df1[['Northeast', 'Midwest']] = df1['Northeast Midwest'].str.split(pat=' ',expand=True)
df1 = df1.drop(columns=['Northeast Midwest'])
df1

   Year States  South   West Northeast Midwest
1  2019  105.8  124.0   93.5      92.9    99.7
2  2020  111.1  132.5   97.9      91.9   106.0
3  2021  115.2  138.6  100.2      95.7   108.8

# End Notebook